@mixin text-select {
// Mozilla and WebKit support these properties
  -moz-user-select: text;
  -webkit-user-select: text;

// IE 10 is expected to support this
  -ms-user-select: text;

// No browsers currently support these
  user-select: text;
  -o-user-select: text;
}