<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="InteractionPopup"
    startInEditMode="true"
    title="InteractionPopup">
    <LocationEntryPoint
      signature="InteractionPopup(anInteraction:Interaction_Ext)"/>
    <Variable
      name="anInteraction"
      type="Interaction_Ext"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <DateInput
            editable="true"
            id="dateinput"
            label="displaykey.Training.Date"
            value="anInteraction.InteractionDate">
            <PostOnChange
              target="InteractionInputSetID"/>
          </DateInput>
          <InputSet
            id="InteractionInputSetID"
            visible="anInteraction.InteractionDate != null">
            <BooleanRadioInput
              editable="true"
              id="radioinput"
              label="displaykey.Ext.InitiatedByContact"
              value="anInteraction.InitiatedByContact">
              <PostOnChange/>
            </BooleanRadioInput>
            <TypeKeyInput
              editable="true"
              id="ChannelType"
              label="displaykey.Ext.ChannelDirection"
              value="anInteraction.ChannelDirection"/>
            <TypeKeyInput
              editable="true"
              id="channelinput"
              label="displaykey.Ext.ChannelType"
              value="anInteraction.Channel"/>
            <Input
              editable="true"
              id="userinput"
              label="displaykey.Training.User"
              value="anInteraction.AssociatedUser"/>
            <TextAreaInput
              editable="true"
              id="summaryinput"
              label="displaykey.Training.Summary"
              maxChars="60"
              numCols="25"
              numRows="2"
              value="anInteraction.Summary"/>
          </InputSet>
          <TypeKeyInput
            editable="true"
            id="reasoninput"
            label="displaykey.Training.Reason"
            value="anInteraction.Reason"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>